a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Source Sans family', Source Code Pro, Helvetica, sans-serif;
  font-size: 14px
}

strong {
  font-family: 'Source Sans family', Source Code Pro, Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Source Sans family', Source Code Pro, Helvetica, sans-serif;
  font-size: 22px;
}

papertitle {
  font-family: 'Source Sans family', Source Code Pro, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: 'Source Sans family', Source Code Pro, Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}